<h1>Hello World</h1>

<form action="/urls" method="post">
	Enter URL:
	<input type ="text" name="input_url">
	<input type="submit" value="Submit">
</form>

<%= @url.errors.full_messages.each {|x| x}%><br>

<br>

<% @urls.each do |url| %>
	<%= url.long_url%> - <a href=<%=url.short_url%>> <%= url.short_url %> </a> <%= '  CLICK COUNT =  ' %> <%= url.click_count%><br>
<% end %>